{"swagger":"2.0","info":{"version":"1.0.0","title":"Metadata Connector","description":"Common Data Model Metadata Connector"},"host":"org0b63707e.crm4.dynamics.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/api/data/v9.0/EntityDefinitions":{"get":{"summary":"EntityDefintions","description":"EntityDefintions","operationId":"EntityDefintions","parameters":[],"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"ActivityTypeMask":{"type":"integer","format":"int32","description":"ActivityTypeMask"},"AutoRouteToOwnerQueue":{"type":"boolean","description":"AutoRouteToOwnerQueue"},"CanTriggerWorkflow":{"type":"boolean","description":"CanTriggerWorkflow"},"EntityHelpUrlEnabled":{"type":"boolean","description":"EntityHelpUrlEnabled"},"EntityHelpUrl":{"type":"string","description":"EntityHelpUrl"},"IsDocumentManagementEnabled":{"type":"boolean","description":"IsDocumentManagementEnabled"},"IsOneNoteIntegrationEnabled":{"type":"boolean","description":"IsOneNoteIntegrationEnabled"},"IsInteractionCentricEnabled":{"type":"boolean","description":"IsInteractionCentricEnabled"},"IsKnowledgeManagementEnabled":{"type":"boolean","description":"IsKnowledgeManagementEnabled"},"IsSLAEnabled":{"type":"boolean","description":"IsSLAEnabled"},"IsBPFEntity":{"type":"boolean","description":"IsBPFEntity"},"IsDocumentRecommendationsEnabled":{"type":"boolean","description":"IsDocumentRecommendationsEnabled"},"IsMSTeamsIntegrationEnabled":{"type":"boolean","description":"IsMSTeamsIntegrationEnabled"},"SettingOf":{"type":"string","description":"SettingOf"},"DataProviderId":{"type":"string","description":"DataProviderId"},"DataSourceId":{"type":"string","description":"DataSourceId"},"AutoCreateAccessTeams":{"type":"boolean","description":"AutoCreateAccessTeams"},"IsActivity":{"type":"boolean","description":"IsActivity"},"IsActivityParty":{"type":"boolean","description":"IsActivityParty"},"IsAvailableOffline":{"type":"boolean","description":"IsAvailableOffline"},"IsChildEntity":{"type":"boolean","description":"IsChildEntity"},"IsAIRUpdated":{"type":"boolean","description":"IsAIRUpdated"},"IconLargeName":{"type":"string","description":"IconLargeName"},"IconMediumName":{"type":"string","description":"IconMediumName"},"IconSmallName":{"type":"string","description":"IconSmallName"},"IconVectorName":{"type":"string","description":"IconVectorName"},"IsCustomEntity":{"type":"boolean","description":"IsCustomEntity"},"IsBusinessProcessEnabled":{"type":"boolean","description":"IsBusinessProcessEnabled"},"SyncToExternalSearchIndex":{"type":"boolean","description":"SyncToExternalSearchIndex"},"IsOptimisticConcurrencyEnabled":{"type":"boolean","description":"IsOptimisticConcurrencyEnabled"},"ChangeTrackingEnabled":{"type":"boolean","description":"ChangeTrackingEnabled"},"IsImportable":{"type":"boolean","description":"IsImportable"},"IsIntersect":{"type":"boolean","description":"IsIntersect"},"IsManaged":{"type":"boolean","description":"IsManaged"},"IsEnabledForCharts":{"type":"boolean","description":"IsEnabledForCharts"},"IsEnabledForTrace":{"type":"boolean","description":"IsEnabledForTrace"},"IsValidForAdvancedFind":{"type":"boolean","description":"IsValidForAdvancedFind"},"DaysSinceRecordLastModified":{"type":"integer","format":"int32","description":"DaysSinceRecordLastModified"},"MobileOfflineFilters":{"type":"string","description":"MobileOfflineFilters"},"IsReadingPaneEnabled":{"type":"boolean","description":"IsReadingPaneEnabled"},"IsQuickCreateEnabled":{"type":"boolean","description":"IsQuickCreateEnabled"},"LogicalName":{"type":"string","description":"LogicalName"},"ObjectTypeCode":{"type":"integer","format":"int32","description":"ObjectTypeCode"},"OwnershipType":{"type":"string","description":"OwnershipType"},"PrimaryNameAttribute":{"type":"string","description":"PrimaryNameAttribute"},"PrimaryImageAttribute":{"type":"string","description":"PrimaryImageAttribute"},"PrimaryIdAttribute":{"type":"string","description":"PrimaryIdAttribute"},"RecurrenceBaseEntityLogicalName":{"type":"string","description":"RecurrenceBaseEntityLogicalName"},"ReportViewName":{"type":"string","description":"ReportViewName"},"SchemaName":{"type":"string","description":"SchemaName"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"IsStateModelAware":{"type":"boolean","description":"IsStateModelAware"},"EnforceStateTransitions":{"type":"boolean","description":"EnforceStateTransitions"},"ExternalName":{"type":"string","description":"ExternalName"},"EntityColor":{"type":"string","description":"EntityColor"},"LogicalCollectionName":{"type":"string","description":"LogicalCollectionName"},"ExternalCollectionName":{"type":"string","description":"ExternalCollectionName"},"CollectionSchemaName":{"type":"string","description":"CollectionSchemaName"},"EntitySetName":{"type":"string","description":"EntitySetName"},"IsEnabledForExternalChannels":{"type":"boolean","description":"IsEnabledForExternalChannels"},"IsPrivate":{"type":"boolean","description":"IsPrivate"},"UsesBusinessDataLabelTable":{"type":"boolean","description":"UsesBusinessDataLabelTable"},"IsLogicalEntity":{"type":"boolean","description":"IsLogicalEntity"},"HasNotes":{"type":"boolean","description":"HasNotes"},"HasActivities":{"type":"boolean","description":"HasActivities"},"HasFeedback":{"type":"boolean","description":"HasFeedback"},"IsSolutionAware":{"type":"boolean","description":"IsSolutionAware"},"CreatedOn":{"type":"string","description":"CreatedOn"},"ModifiedOn":{"type":"string","description":"ModifiedOn"},"HasEmailAddresses":{"type":"boolean","description":"HasEmailAddresses"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Description"},"DisplayCollectionName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayCollectionName"},"DisplayName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayName"},"IsAuditEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsAuditEnabled"},"IsValidForQueue":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsValidForQueue"},"IsConnectionsEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsConnectionsEnabled"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"},"IsRenameable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsRenameable"},"IsMappable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsMappable"},"IsDuplicateDetectionEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsDuplicateDetectionEnabled"},"CanCreateAttributes":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateAttributes"},"CanCreateForms":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateForms"},"CanCreateViews":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateViews"},"CanCreateCharts":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateCharts"},"CanBeRelatedEntityInRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeRelatedEntityInRelationship"},"CanBePrimaryEntityInRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBePrimaryEntityInRelationship"},"CanBeInManyToMany":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeInManyToMany"},"CanBeInCustomEntityAssociation":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeInCustomEntityAssociation"},"CanEnableSyncToExternalSearchIndex":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanEnableSyncToExternalSearchIndex"},"CanModifyAdditionalSettings":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanModifyAdditionalSettings"},"CanChangeHierarchicalRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanChangeHierarchicalRelationship"},"CanChangeTrackingBeEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanChangeTrackingBeEnabled"},"IsMailMergeEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsMailMergeEnabled"},"IsVisibleInMobile":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsVisibleInMobile"},"IsVisibleInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsVisibleInMobileClient"},"IsReadOnlyInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsReadOnlyInMobileClient"},"IsOfflineInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsOfflineInMobileClient"},"Privileges":{"type":"array","items":{"type":"object","properties":{"CanBeBasic":{"type":"boolean","description":"CanBeBasic"},"CanBeDeep":{"type":"boolean","description":"CanBeDeep"},"CanBeGlobal":{"type":"boolean","description":"CanBeGlobal"},"CanBeLocal":{"type":"boolean","description":"CanBeLocal"},"CanBeEntityReference":{"type":"boolean","description":"CanBeEntityReference"},"CanBeParentEntityReference":{"type":"boolean","description":"CanBeParentEntityReference"},"Name":{"type":"string","description":"Name"},"PrivilegeId":{"type":"string","description":"PrivilegeId"},"PrivilegeType":{"type":"string","description":"PrivilegeType"}}},"description":"Privileges"},"Settings":{"type":"array","items":{},"description":"Settings"}}},"description":"value"}}}}}}},"/api/data/v9.0/RelationshipDefinitions":{"get":{"summary":"RelationshipDefintions","description":"RelationshipDefintions","operationId":"RelationshipDefintions","parameters":[],"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type"},"ReferencedAttribute":{"type":"string","description":"ReferencedAttribute"},"ReferencedEntity":{"type":"string","description":"ReferencedEntity"},"ReferencingAttribute":{"type":"string","description":"ReferencingAttribute"},"ReferencingEntity":{"type":"string","description":"ReferencingEntity"},"IsHierarchical":{"type":"boolean","description":"IsHierarchical"},"EntityKey":{"type":"string","description":"EntityKey"},"ReferencedEntityNavigationPropertyName":{"type":"string","description":"ReferencedEntityNavigationPropertyName"},"ReferencingEntityNavigationPropertyName":{"type":"string","description":"ReferencingEntityNavigationPropertyName"},"RelationshipBehavior":{"type":"integer","format":"int32","description":"RelationshipBehavior"},"IsCustomRelationship":{"type":"boolean","description":"IsCustomRelationship"},"IsValidForAdvancedFind":{"type":"boolean","description":"IsValidForAdvancedFind"},"SchemaName":{"type":"string","description":"SchemaName"},"SecurityTypes":{"type":"string","description":"SecurityTypes"},"IsManaged":{"type":"boolean","description":"IsManaged"},"RelationshipType":{"type":"string","description":"RelationshipType"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"AssociatedMenuConfiguration":{"type":"object","properties":{"Behavior":{"type":"string","description":"Behavior"},"Group":{"type":"string","description":"Group"},"Order":{"type":"string","description":"Order"},"IsCustomizable":{"type":"boolean","description":"IsCustomizable"},"Icon":{"type":"string","description":"Icon"},"ViewId":{"type":"string","description":"ViewId"},"AvailableOffline":{"type":"boolean","description":"AvailableOffline"},"MenuId":{"type":"string","description":"MenuId"},"QueryApi":{"type":"string","description":"QueryApi"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Label"}},"description":"AssociatedMenuConfiguration"},"CascadeConfiguration":{"type":"object","properties":{"Assign":{"type":"string","description":"Assign"},"Delete":{"type":"string","description":"Delete"},"Merge":{"type":"string","description":"Merge"},"Reparent":{"type":"string","description":"Reparent"},"Share":{"type":"string","description":"Share"},"Unshare":{"type":"string","description":"Unshare"},"RollupView":{"type":"string","description":"RollupView"}},"description":"CascadeConfiguration"},"RelationshipAttributes":{"type":"array","items":{},"description":"RelationshipAttributes"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"},"Entity1LogicalName":{"type":"string","description":"Entity1LogicalName"},"Entity2LogicalName":{"type":"string","description":"Entity2LogicalName"},"IntersectEntityName":{"type":"string","description":"IntersectEntityName"},"Entity1IntersectAttribute":{"type":"string","description":"Entity1IntersectAttribute"},"Entity2IntersectAttribute":{"type":"string","description":"Entity2IntersectAttribute"},"Entity1NavigationPropertyName":{"type":"string","description":"Entity1NavigationPropertyName"},"Entity2NavigationPropertyName":{"type":"string","description":"Entity2NavigationPropertyName"},"Entity1AssociatedMenuConfiguration":{"type":"object","properties":{"Behavior":{"type":"string","description":"Behavior"},"Group":{"type":"string","description":"Group"},"Order":{"type":"integer","format":"int32","description":"Order"},"IsCustomizable":{"type":"boolean","description":"IsCustomizable"},"Icon":{"type":"string","description":"Icon"},"ViewId":{"type":"string","description":"ViewId"},"AvailableOffline":{"type":"boolean","description":"AvailableOffline"},"MenuId":{"type":"string","description":"MenuId"},"QueryApi":{"type":"string","description":"QueryApi"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Label"}},"description":"Entity1AssociatedMenuConfiguration"},"Entity2AssociatedMenuConfiguration":{"type":"object","properties":{"Behavior":{"type":"string","description":"Behavior"},"Group":{"type":"string","description":"Group"},"Order":{"type":"integer","format":"int32","description":"Order"},"IsCustomizable":{"type":"boolean","description":"IsCustomizable"},"Icon":{"type":"string","description":"Icon"},"ViewId":{"type":"string","description":"ViewId"},"AvailableOffline":{"type":"boolean","description":"AvailableOffline"},"MenuId":{"type":"string","description":"MenuId"},"QueryApi":{"type":"string","description":"QueryApi"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Label"}},"description":"Entity2AssociatedMenuConfiguration"}}},"description":"value"}}}}}}},"/api/data/v9.0/EntityDefinitions(LogicalName='{LogicalName}')":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"ActivityTypeMask":{"type":"integer","format":"int32","description":"ActivityTypeMask"},"AutoRouteToOwnerQueue":{"type":"boolean","description":"AutoRouteToOwnerQueue"},"CanTriggerWorkflow":{"type":"boolean","description":"CanTriggerWorkflow"},"EntityHelpUrlEnabled":{"type":"boolean","description":"EntityHelpUrlEnabled"},"EntityHelpUrl":{"type":"string","description":"EntityHelpUrl"},"IsDocumentManagementEnabled":{"type":"boolean","description":"IsDocumentManagementEnabled"},"IsOneNoteIntegrationEnabled":{"type":"boolean","description":"IsOneNoteIntegrationEnabled"},"IsInteractionCentricEnabled":{"type":"boolean","description":"IsInteractionCentricEnabled"},"IsKnowledgeManagementEnabled":{"type":"boolean","description":"IsKnowledgeManagementEnabled"},"IsSLAEnabled":{"type":"boolean","description":"IsSLAEnabled"},"IsBPFEntity":{"type":"boolean","description":"IsBPFEntity"},"IsDocumentRecommendationsEnabled":{"type":"boolean","description":"IsDocumentRecommendationsEnabled"},"IsMSTeamsIntegrationEnabled":{"type":"boolean","description":"IsMSTeamsIntegrationEnabled"},"SettingOf":{"type":"string","description":"SettingOf"},"DataProviderId":{"type":"string","description":"DataProviderId"},"DataSourceId":{"type":"string","description":"DataSourceId"},"AutoCreateAccessTeams":{"type":"boolean","description":"AutoCreateAccessTeams"},"IsActivity":{"type":"boolean","description":"IsActivity"},"IsActivityParty":{"type":"boolean","description":"IsActivityParty"},"IsAvailableOffline":{"type":"boolean","description":"IsAvailableOffline"},"IsChildEntity":{"type":"boolean","description":"IsChildEntity"},"IsAIRUpdated":{"type":"boolean","description":"IsAIRUpdated"},"IconLargeName":{"type":"string","description":"IconLargeName"},"IconMediumName":{"type":"string","description":"IconMediumName"},"IconSmallName":{"type":"string","description":"IconSmallName"},"IconVectorName":{"type":"string","description":"IconVectorName"},"IsCustomEntity":{"type":"boolean","description":"IsCustomEntity"},"IsBusinessProcessEnabled":{"type":"boolean","description":"IsBusinessProcessEnabled"},"SyncToExternalSearchIndex":{"type":"boolean","description":"SyncToExternalSearchIndex"},"IsOptimisticConcurrencyEnabled":{"type":"boolean","description":"IsOptimisticConcurrencyEnabled"},"ChangeTrackingEnabled":{"type":"boolean","description":"ChangeTrackingEnabled"},"IsImportable":{"type":"boolean","description":"IsImportable"},"IsIntersect":{"type":"boolean","description":"IsIntersect"},"IsManaged":{"type":"boolean","description":"IsManaged"},"IsEnabledForCharts":{"type":"boolean","description":"IsEnabledForCharts"},"IsEnabledForTrace":{"type":"boolean","description":"IsEnabledForTrace"},"IsValidForAdvancedFind":{"type":"boolean","description":"IsValidForAdvancedFind"},"DaysSinceRecordLastModified":{"type":"integer","format":"int32","description":"DaysSinceRecordLastModified"},"MobileOfflineFilters":{"type":"string","description":"MobileOfflineFilters"},"IsReadingPaneEnabled":{"type":"boolean","description":"IsReadingPaneEnabled"},"IsQuickCreateEnabled":{"type":"boolean","description":"IsQuickCreateEnabled"},"LogicalName":{"type":"string","description":"LogicalName"},"ObjectTypeCode":{"type":"integer","format":"int32","description":"ObjectTypeCode"},"OwnershipType":{"type":"string","description":"OwnershipType"},"PrimaryNameAttribute":{"type":"string","description":"PrimaryNameAttribute"},"PrimaryImageAttribute":{"type":"string","description":"PrimaryImageAttribute"},"PrimaryIdAttribute":{"type":"string","description":"PrimaryIdAttribute"},"RecurrenceBaseEntityLogicalName":{"type":"string","description":"RecurrenceBaseEntityLogicalName"},"ReportViewName":{"type":"string","description":"ReportViewName"},"SchemaName":{"type":"string","description":"SchemaName"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"IsStateModelAware":{"type":"boolean","description":"IsStateModelAware"},"EnforceStateTransitions":{"type":"boolean","description":"EnforceStateTransitions"},"ExternalName":{"type":"string","description":"ExternalName"},"EntityColor":{"type":"string","description":"EntityColor"},"LogicalCollectionName":{"type":"string","description":"LogicalCollectionName"},"ExternalCollectionName":{"type":"string","description":"ExternalCollectionName"},"CollectionSchemaName":{"type":"string","description":"CollectionSchemaName"},"EntitySetName":{"type":"string","description":"EntitySetName"},"IsEnabledForExternalChannels":{"type":"boolean","description":"IsEnabledForExternalChannels"},"IsPrivate":{"type":"boolean","description":"IsPrivate"},"UsesBusinessDataLabelTable":{"type":"boolean","description":"UsesBusinessDataLabelTable"},"IsLogicalEntity":{"type":"boolean","description":"IsLogicalEntity"},"HasNotes":{"type":"boolean","description":"HasNotes"},"HasActivities":{"type":"boolean","description":"HasActivities"},"HasFeedback":{"type":"boolean","description":"HasFeedback"},"IsSolutionAware":{"type":"boolean","description":"IsSolutionAware"},"CreatedOn":{"type":"string","description":"CreatedOn"},"ModifiedOn":{"type":"string","description":"ModifiedOn"},"HasEmailAddresses":{"type":"boolean","description":"HasEmailAddresses"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Description"},"DisplayCollectionName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayCollectionName"},"DisplayName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayName"},"IsAuditEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsAuditEnabled"},"IsValidForQueue":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsValidForQueue"},"IsConnectionsEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsConnectionsEnabled"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"},"IsRenameable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsRenameable"},"IsMappable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsMappable"},"IsDuplicateDetectionEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsDuplicateDetectionEnabled"},"CanCreateAttributes":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateAttributes"},"CanCreateForms":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateForms"},"CanCreateViews":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateViews"},"CanCreateCharts":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanCreateCharts"},"CanBeRelatedEntityInRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeRelatedEntityInRelationship"},"CanBePrimaryEntityInRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBePrimaryEntityInRelationship"},"CanBeInManyToMany":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeInManyToMany"},"CanBeInCustomEntityAssociation":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanBeInCustomEntityAssociation"},"CanEnableSyncToExternalSearchIndex":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanEnableSyncToExternalSearchIndex"},"CanModifyAdditionalSettings":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanModifyAdditionalSettings"},"CanChangeHierarchicalRelationship":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanChangeHierarchicalRelationship"},"CanChangeTrackingBeEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanChangeTrackingBeEnabled"},"IsMailMergeEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsMailMergeEnabled"},"IsVisibleInMobile":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsVisibleInMobile"},"IsVisibleInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsVisibleInMobileClient"},"IsReadOnlyInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsReadOnlyInMobileClient"},"IsOfflineInMobileClient":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsOfflineInMobileClient"},"Privileges":{"type":"array","items":{"type":"object","properties":{"CanBeBasic":{"type":"boolean","description":"CanBeBasic"},"CanBeDeep":{"type":"boolean","description":"CanBeDeep"},"CanBeGlobal":{"type":"boolean","description":"CanBeGlobal"},"CanBeLocal":{"type":"boolean","description":"CanBeLocal"},"CanBeEntityReference":{"type":"boolean","description":"CanBeEntityReference"},"CanBeParentEntityReference":{"type":"boolean","description":"CanBeParentEntityReference"},"Name":{"type":"string","description":"Name"},"PrivilegeId":{"type":"string","description":"PrivilegeId"},"PrivilegeType":{"type":"string","description":"PrivilegeType"}}},"description":"Privileges"},"Settings":{"type":"array","items":{},"description":"Settings"}}}}},"summary":"Entity Defintion by LogicalName","description":"Get entity defintion for specific entity","operationId":"GetEntityDefinion","parameters":[{"name":"LogicalName","in":"path","required":true,"type":"string"}]}},"/api/data/v9.0/EntityDefinitions(LogicalName='{LogicalName}')/Attributes":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"AttributeOf":{"type":"string","description":"AttributeOf"},"AttributeType":{"type":"string","description":"AttributeType"},"ColumnNumber":{"type":"integer","format":"int32","description":"ColumnNumber"},"DeprecatedVersion":{"type":"string","description":"DeprecatedVersion"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"EntityLogicalName":{"type":"string","description":"EntityLogicalName"},"IsCustomAttribute":{"type":"boolean","description":"IsCustomAttribute"},"IsPrimaryId":{"type":"boolean","description":"IsPrimaryId"},"IsValidODataAttribute":{"type":"boolean","description":"IsValidODataAttribute"},"IsPrimaryName":{"type":"boolean","description":"IsPrimaryName"},"IsValidForCreate":{"type":"boolean","description":"IsValidForCreate"},"IsValidForRead":{"type":"boolean","description":"IsValidForRead"},"IsValidForUpdate":{"type":"boolean","description":"IsValidForUpdate"},"CanBeSecuredForRead":{"type":"boolean","description":"CanBeSecuredForRead"},"CanBeSecuredForCreate":{"type":"boolean","description":"CanBeSecuredForCreate"},"CanBeSecuredForUpdate":{"type":"boolean","description":"CanBeSecuredForUpdate"},"IsSecured":{"type":"boolean","description":"IsSecured"},"IsRetrievable":{"type":"boolean","description":"IsRetrievable"},"IsFilterable":{"type":"boolean","description":"IsFilterable"},"IsSearchable":{"type":"boolean","description":"IsSearchable"},"IsManaged":{"type":"boolean","description":"IsManaged"},"LinkedAttributeId":{"type":"string","description":"LinkedAttributeId"},"LogicalName":{"type":"string","description":"LogicalName"},"IsValidForForm":{"type":"boolean","description":"IsValidForForm"},"IsRequiredForForm":{"type":"boolean","description":"IsRequiredForForm"},"IsValidForGrid":{"type":"boolean","description":"IsValidForGrid"},"SchemaName":{"type":"string","description":"SchemaName"},"ExternalName":{"type":"string","description":"ExternalName"},"IsLogical":{"type":"boolean","description":"IsLogical"},"IsDataSourceSecret":{"type":"boolean","description":"IsDataSourceSecret"},"InheritsFrom":{"type":"string","description":"InheritsFrom"},"CreatedOn":{"type":"string","description":"CreatedOn"},"ModifiedOn":{"type":"string","description":"ModifiedOn"},"SourceType":{"type":"string","description":"SourceType"},"AutoNumberFormat":{"type":"string","description":"AutoNumberFormat"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"AttributeTypeName":{"type":"object","properties":{"Value":{"type":"string","description":"Value"}},"description":"AttributeTypeName"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Description"},"DisplayName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"DisplayName"},"IsAuditEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsAuditEnabled"},"IsGlobalFilterEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsGlobalFilterEnabled"},"IsSortableEnabled":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsSortableEnabled"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"},"IsRenameable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsRenameable"},"IsValidForAdvancedFind":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsValidForAdvancedFind"},"RequiredLevel":{"type":"object","properties":{"Value":{"type":"string","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"RequiredLevel"},"CanModifyAdditionalSettings":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanModifyAdditionalSettings"},"@odata.type":{"type":"string","description":"@odata.type"},"Format":{"type":"string","description":"Format"},"ImeMode":{"type":"string","description":"ImeMode"},"MaxLength":{"type":"integer","format":"int32","description":"MaxLength"},"YomiOf":{"type":"string","description":"YomiOf"},"IsLocalizable":{"type":"boolean","description":"IsLocalizable"},"DatabaseLength":{"type":"integer","format":"int32","description":"DatabaseLength"},"FormulaDefinition":{"type":"string","description":"FormulaDefinition"},"SourceTypeMask":{"type":"integer","format":"int32","description":"SourceTypeMask"},"FormatName":{"type":"object","properties":{"Value":{"type":"string","description":"Value"}},"description":"FormatName"},"MinSupportedValue":{"type":"string","description":"MinSupportedValue"},"MaxSupportedValue":{"type":"string","description":"MaxSupportedValue"},"DateTimeBehavior":{"type":"object","properties":{"Value":{"type":"string","description":"Value"}},"description":"DateTimeBehavior"},"CanChangeDateTimeBehavior":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"CanChangeDateTimeBehavior"},"MaxValue":{"type":"integer","format":"int32","description":"MaxValue"},"MinValue":{"type":"integer","format":"int32","description":"MinValue"},"Precision":{"type":"integer","format":"int32","description":"Precision"},"PrecisionSource":{"type":"integer","format":"int32","description":"PrecisionSource"},"CalculationOf":{"type":"string","description":"CalculationOf"},"IsBaseCurrency":{"type":"boolean","description":"IsBaseCurrency"},"ParentPicklistLogicalName":{"type":"string","description":"ParentPicklistLogicalName"},"ChildPicklistLogicalNames":{"type":"array","items":{},"description":"ChildPicklistLogicalNames"},"DefaultFormValue":{"type":"integer","format":"int32","description":"DefaultFormValue"},"DefaultValue":{"type":"boolean","description":"DefaultValue"},"Targets":{"type":"array","items":{"type":"string"},"description":"Targets"},"IsEntityReferenceStored":{"type":"boolean","description":"IsEntityReferenceStored"},"IsPrimaryImage":{"type":"boolean","description":"IsPrimaryImage"},"MaxHeight":{"type":"integer","format":"int32","description":"MaxHeight"},"MaxWidth":{"type":"integer","format":"int32","description":"MaxWidth"},"MaxSizeInKB":{"type":"integer","format":"int32","description":"MaxSizeInKB"},"CanStoreFullImage":{"type":"boolean","description":"CanStoreFullImage"}}},"description":"value"}}}}},"summary":"Entity Attributes Definition","description":"Get attributes defintion for specific entity","operationId":"GetAttributesDefinition","parameters":[{"name":"LogicalName","in":"path","required":true,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}